{{ define "about"}} {{template "header"}}

<div class="about__title">
  <div class="container">
    <h1 class="m-5">О КОМПАНИИ</h1>
  </div>
</div>

<div class="container">
  <p class="text-center fs-3 m-5">
    Компания "Дос и Партнеры" - являются официальным дистрибьютором
    автомобильных масел и охлаждающей жидкости.
  </p>

  <div class="row mt-5">
    <div class="col">
      <div class="card border-0">
        <div class="card-header">Наша Миссия</div>
        <div class="card-body">
          <h5 class="card-title">Миссия ТОО "Дос и Партнеры" - это</h5>
          <p class="card-text">
            Максимальное удовлетворение потребностей Клиентов посредством
            обеспечения надежными и безопасными товарами и предоставление сети
            высококачественного сервиса и квалифицированного обслуживания.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0">
        <div class="card-header">Наши Принципы</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Прозрачность</li>
            <li class="list-group-item">Безопасность для потребителя</li>
            <li class="list-group-item">Честность</li>
            <li class="list-group-item">Ответственность</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0">
        <div class="card-header">Наша идеология</div>
        <div class="card-body">
          <h5 class="card-title">Идеологическая модель</h5>
          <p class="card-text">
            Ведения бизнеса, базирующаяся на принципах прозрачности,
            европейского подхода и ответственности, отличает "ДОС и Партнеры" от
            других компаний и делает достойным и надежным партнером
          </p>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-unstyled m-5">
    <li>Наша компания на рынке с 2011 года.</li>
    <li>
      "Дос и Партнеры"- это место, где сочетаются разумная цена и высокое
      качество товаров, которые соответствуют вашим ценностям. Мы предлагаем Вам
      товары уровня высочайших мировых стандартов.
    </li>
    <li>
      Мы дорожти каждым нашим клиентом, поэтому высокое качество сервиса -
      приоритет для нас. Вы всегда можете задать интересующие вас вопросы по
      телефону и получить подробную консультацию.
    </li>
    <li>
      Команда профессионалов следит за постоянным пополнением и обновлением
      ассортимента разработкой акций и системы выгодных скидок, информировании
      наших покупателей о появлении новинок. Сотрудники проходят основательную
      подготовку, совершенствуют свои навыки и знания,проходят специальные курсы
      и тренинги, чтобы идти в ногу со временем.
    </li>
    <li class="m-5">
      География наших продаж ежегодно расширяется. Мы работаем в городах:
      <ul>
        <li>Нур-Султан</li>
        <li>Алматы</li>
        <li>Шымкент</li>
      </ul>
    </li>
  </ul>

  Наши контакты:
  <ul class="list-group list-group-flush w-25">
    <li class="list-group-item">
      <img
        src="../static/images/navigator.svg"
        style="width: 25px; height: 25px"
      />
      Адрес: г.Алматы , ул. Полежаева 92А, офис 311
    </li>
    <li class="list-group-item">
      <img
        src="../static/images/telephone.svg"
        style="width: 25px; height: 25px"
      />
      Телефон: <a href="tel:+77779998890">+7 777 999 88 90</a>
    </li>
    <li class="list-group-item">
      <img
        src="../static/images/telephone.svg"
        style="width: 25px; height: 25px"
      />
      Телефон: <a href="tel:87272339916">8 727 233 99 16</a>
    </li>
    <li class="list-group-item">
      <img src="../static/images/email.svg" style="width: 25px; height: 25px" />
      Почта: <a href="mailto:dospartners1@gmail.com">dospartners1@gmail.com</a>
    </li>
  </ul>
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">{{template "form"}}</div>
  </div>
</div>

{{template "footer"}} {{end}}
