{{ define "catalog"}} {{template "header"}}

<div class="container">
  {{template "modal.nord"}} {{template "modal.alfa"}} {{template "modal.zcool"}}
  {{template "modal.nordBlue"}}

  <div class="row mt-5">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="../static/images/nord.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Антифриз "NORD"</h5>
          <p class="card-text">Универсальная охлаждающая жидкость</p>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalNord"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="../static/images/alfa.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Антифриз "ALFA"</h5>
          <p class="card-text">Высококачественный этиленгликол</p>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalAlfa"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="../static/images/alfa.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Антифриз "Zcool"</h5>
          <p class="card-text">Разработан российскими специалистами</p>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalZcool"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="card" style="width: 20rem">
        <img src="../static/images/Nord.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Мочевина «Nord Blue»</h5>
          <p class="card-text">Технология экономии двигателя</p>

          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalNordBLue"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 20rem">
        <img
          src="../static/images/DOT.jpg"
          style="height: 220px; width: 200px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Тормозная жидкость DOT-4</h5>
          <p class="card-text">Сохранность автомобиля</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{template "footer"}} {{end}}
