{{ define "footer"}}
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная</a></li>
        <li class="nav-item"><a href="/catalog" class="nav-link px-2 text-muted">Каталог</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">О Компании</a></li>
        <li class="nav-item"><a href="/articles" class="nav-link px-2 text-muted">Статьи</a></li>
      </ul>
      <p class="text-center text-muted">© 2021 ТОО "Дос и Партнеры"</p>
    </footer>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>

{{end}}