{{ define "form" }}

<div
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
  style="width: 50px; cursor: pointer"
>
  <img
    src="../static/images/telephone.svg"
    style="display: block; width: 100%"
  />
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <img src="../static/images/telephone.svg" style="width: 40px" />
      </div>
      <div class="flex-grow-1 ms-3">
        <h5 id="offcanvasRightLabel">Заказать звонок</h5>
        <span
          >Сообщите нам свой номер, и мы перезвоним в удобное для Вас
          время.</span
        >
      </div>
    </div>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form
      action="http://localhost:8080/sendMail"
      method="POST"
      onsubmit="fetchToSendMail()"
    >
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Ваша почта * </label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="mb-3">
        <label for="inputPhone" class="form-label">Ваш телефон * </label>
        <input
          type="text"
          class="form-control"
          id="inputPhone"
          placeholder="(700) 000 -0000"
        />
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </div>
</div>
<script>
  document.getElementById("inputPhone").addEventListener("input", function (y) {
    var a = y.target.value
      .replace(/\D/g, "")
      .match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
    y.target.value = !a[2]
      ? a[1]
      : "(" + a[1] + ") " + a[2] + (a[3] ? "-" + a[3] : "");
  });

  function fetchToSendMail(event) {
    event.preventDefault();

    let email = document.getElementById("inputEmail").value;
    let phone = document.getElementById("inputPhone").value;
    let url = "http://localhost:8080/sendMail";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
      body: JSON.stringify({ email, phone }),
    })
      .then((result) => console.log(result))
      .cath((e) => console.log(e));
    return false;
  }
</script>
{{end}}
