{{ define "header"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Главная страница</title>
    <link rel="stylesheet" href=" /static/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img
                src="/static/images/logo.png"
                alt="logo"
                width="90"
                height="90"
                class="d-inline-block align-text-top"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Главная</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catalog">Каталог</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">О Компании</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/articles">Статьи</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>

    {{end}}
  </body>
</html>
