{{ define "modal.nordBlue"}}

<div
  class="modal fade"
  id="modalNordBLue"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Мочевина «Nord Blue»</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Описание
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Технические характеристики автомобиля, такие как мощности и
                скорость, всегда были для покупателей на первом месте. Однако в
                новом веке помимо этого для автолюбителей важным стал и другой
                параметр – влияние на окружающую среду. Особенно эта проблема
                характерна для грузовых автомобилей. Сегодня грузовые автомобили
                должны соответствовать строгим европейским товарам, не нарушать
                экологию. Для того, чтобы добиться решения этой проблемы,
                достаточно использовать специальную жидкость Nord Blue .
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Дополнение
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Nord Blue создана на основе раствора мочевины, это азотистое
                соединение, которое имеет способность очищать выхлопные газы.
                Она активно используется в системах на основе технологии SCR,
                которая нейтрализует выхлопные газы, расщепляя их на безвредные
                для атмосферы воду и азот.
                <br />
                <br />
                При этом жидкость не только бережет атмосферу, но и позволяет
                более экономично относиться к расходу топлива. Технология Nord
                Blue дает возможность оптимизировать работу двигателя, а значит
                и количество топлива, которое потребляется при движении,
                значительно уменьшается. Технология дает возможность экономить
                до 5% топлива в сравнении с расходами без применения этой
                технологи.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

{{end}}
