{{ define "modal.nord"}}

<div
  class="modal fade"
  id="modalNord"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Антифриз «NORD»</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Описание
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Универсальная охлаждающая жидкость, предназначенная для заправки
                систем охлаждения двигателей внутреннего сгорания,
                эксплуатируемых при температуре окружающего воздуха от -40 °С до
                +50°С. Нормативный срок службы: 4 года или 200 тыс.км пробега.
                Эффективен для тяжелой, нагруженной техники
                (строительной,сельскохозяйственной,горнодобывающей)
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Состав
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                моноэтиленгликоль, специально подготовленная вода,
                оптимизированный пакет антикоррозионных, антиокислительных,
                антифрикционных и антипенных присадок европейского производства,
                флуоресцирующий краситель, позволяющий определить место течи с
                помощью ультрафиолетовой лампы (вызывает свечение антифриза).
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Применение
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Смените охлаждающую жидкость согласно инструкции по эксплуатации
                автомобиля (двигателя). Смешивайте антифризы только близких
                цветовых оттенков ( розовый,малиновый,красный).
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Допонительные характеристики
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Совместим со всеми кондиционными силикантными, карбоксилатными и
                гибридными антифризами,в частности соответствующими нормативам:
                G11,G12,G12+,G12++(TL774-C/D/F VW,Porshe,Audi,Skoda,Seat); N 600
                69.0 (BMW): B 040 0240 (Opel/General Motors): DBL7700.20/325.0,
                DBL 7700.30/325.3 (Mersedes-Benz), JIS K2234 Toyota, MAN
                324-NF/SNF(MAN): Tb 1451 (Skania), ANFOR NF R15-601, ASTM D3306,
                ASTMD 4656, ASTM D 4985 (США), TTM АвтоВаз и др.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

{{end}}
