{{ define "modal.zcool"}}

<div
  class="modal fade"
  id="modalZcool"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Антифриз "Zcool"</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        «Zcool» разработан российскими специалистами с учетом требований
        казахстанского рынка (тяжелые условия эксплуатации, горная местность,
        высокая температура окружающей среды, низкие температуры в северных
        регионах Казахстана). Вся линейка антифризов «Zcool» производится на
        современном оборудовании с учетом всех требований предъявляемых к
        производству высококачественных охлаждающих жидкостей, под контролем
        российских специалистов.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

{{end}}
