{{ define "modal.alfa"}}

<div
  class="modal fade"
  id="modalAlfa"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Антифриз "ALFA"</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        «ALFA» применяется в системе охлаждения двигателей внутреннего сгорания
        автомобилей отечественного и зарубежного производства, может применяться
        в теплообменных аппаратах, эксплуатируемых при низких температурах.
        Антифриз изготовлен на основе высококачественного этиленгликоля с
        применением присадок лучших зарубежных производителей. Их качество и
        стабильность гарантируют антикоррозионные и антипенные свойства, а также
        хорошую смазывающую способность и защиту от кавитации. Диапазон рабочих
        температур антифриза – от минус 40С° до 112 С°.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

{{end}}
